<h2>Reactive Basicos</h2>
<hr>

<div class="row">
  <div class="col">
    <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="guardar()">
      <!-- Campo de producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Producto</label>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control"
                 formControlName="nombre"
                 placeholder="Nombre del producto">
                <span class="form-text text-danger" *ngIf="campoNoEsValido('nombre')">
                 Debe ser minimo de 3 letras
                </span>
              </div>
            </div>

      <!-- Precio de producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
          <input type="number"
                 class="form-control"
                 formControlName="precio"
                 placeholder="Precio del producto">
            <span class="form-text text-danger" *ngIf="campoNoEsValido('precio')">
                 El precio debe ser 0 o mayor
           </span>
        </div>
      </div>

      <!-- Existencias de producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Existencias</label>
        <div class="col-sm-9">
          <input type="number"
                 class="form-control"
                 formControlName="existencias"
                 placeholder="Precio del producto">
          <span class="form-text text-danger" *ngIf="campoNoEsValido('existencias')">
            Las existencias deben ser 0 o mayor
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button
            type="submit"
            class="btn btn-primary float-end">Guardar</button>
        </div>
      </div>

    </form>


    <div class="row">
      <div class="col">
        <span>valid</span>
        <pre>{{miFormulario.valid}}</pre>
        <span>pristine</span>
        <pre>{{miFormulario.pristine}}</pre>
        <span>touched</span>
        <pre>{{miFormulario.touched}}</pre>
        <span>valores</span>
        <pre>{{miFormulario.value | json}}</pre>
      </div>
    </div>
  </div>
</div>
