<h2>Reactive Dinamicos</h2>
<hr>


<form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="guardar()">
  <!-- Nombre de la persona -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input class="form-control"
             formControlName="nombre"
             placeholder="Nombre de la persona">
        <span class="form-text text-danger" *ngIf="campoNoEsValido('nombre')">
            Este campo es obligatorio
        </span>
    </div>
  </div>

  <!-- Agregar favorito -->
  <div class="row">
    <label class="col-sm-3 col-form-label">Agregar</label>
    <div class="col-sm-9">
      <div class="input-group mb-3">
        <input type="text"
               class="form-control"
               placeholder="Agregar favorito">
        <button class="btn btn-outline-primary" type="button">
          <i class="fa-solid fa-plus m-1"></i>Agregar</button>
      </div>
    </div>
  </div>

  <!-- Favoritos -->
  <!-- <div class="row">
    <label class="col-sm-3 col-form-label">Favoritos</label>
    <div class="col-sm-9" formArrayName="favoritos">
      <div class="input-group mb-1" *ngFor="let favorito of favoritosArr.controls; let i = index">
        <input class="form-control" [formControlName]="i">
        <button class="btn btn-outline-danger" type="button">
          <i class="fa-solid fa-trash m-1"></i>Borrar
        </button>
      </div>
    </div>
  </div> -->

  <div class="row">
    <div class="col-sm-12">
      <button type="submit"
              class="btn btn-primary float-end">Guardar</button>
    </div>
  </div>
</form>

<span>Valid</span>
<pre>{{miFormulario.valid}}</pre>

<!-- <span>Value</span>
<pre>{{miFormulario.value | json}}</pre> -->


<!-- <span>Persona</span>
<pre>{{persona | json}}</pre> -->
